{% extends 'base.html.twig' %}

{% block title %}Subcategory index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/old_style.css') }}"/>
{% endblock %}
{% block body %}
    {{ include('./nav_admin.html.twig')  }}
    <div class="white-block">
    <div id="container">
        <div class="container">
            <a href="{{ path('app_homepage') }}">
                <img id="logo" src="{{ asset('images/logo.jpg') }}" alt="Widget News" />
            </a>
            <hr class="separator">
        </div>
    </div>
    <h2>Список подкатегорий</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Содержание</th>
            <th>Категория</th>
        </tr>
        </thead>
        <tbody>
        {% for subcategory in subcategories %}
            <tr onclick="window.location.href='{{ path('app_subcategory_edit', {'id': subcategory.id}) }}'" style="cursor:pointer;">
                <td>{{ subcategory.name }}</td>
                <td>{{ subcategory.description }}</td>
                <td>{{ subcategory.Category.name ?? 'Без категории' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_subcategory_new') }}">Create new</a>
    </div>
{% endblock %}