<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {#<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">#}
    {#<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>#}
    <link rel="stylesheet" href="{{ asset('css/style_old.css') }}" />
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{{ include('nav_admin.html.twig') }}
<div id="container">
    <div class="container">
        <a href="{{ path('app_homepage') }}">
            <img id="logo" src="{{ asset('images/logo.jpg') }}" alt="Widget News" />
        </a>
        {% block body %}
        {% endblock %}
    </div>
    <div id="footer">
       Простая PHP CMS &copy; 2017. Все права принадлежат всем. ;) <a href="{{ path('app_login') }}">Site Admin</a>
    </div>
</div>
</body>
</html>