<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ path('app_homepage') }}">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_article_index') }}">Статьи</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_category_index') }}">Категории</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_subcategory_index') }}">Подкатегории</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_user_index') }}">Пользователи</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Выход ({{ app.user.login ?? 'Гость' }})</a></li>
            </ul>
        </div>
    </nav>
</header>
