{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/old_style.css') }}">
{% endblock %}

{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Название статьи'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.summary) }}
    {{ form_widget(form.summary, {'attr': {'class': 'form-control', 'placeholder': 'Краткое содержание статьи', 'rows': 3}}) }}
</div>
<div class="form-group">
    {{ form_label(form.content) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Содержимое статьи', 'rows': 12}}) }}
</div>
<div class="form-group">
    {{ form_label(form.Category, null, {'label_attr': {'id': 'mar'}}) }}
    {{ form_widget(form.Category, {'attr': {'class': 'form-control'}, 'id': 'width', 'empty_data': null, 'placeholder': 'Без категории'}) }}
</div>
<div class="form-group">
    {{ form_label(form.Subcategory, null, {'label_attr': {'id': 'mar'}}) }}
    {{ form_widget(form.Subcategory, {'attr': {'class': 'form-control'}, 'id': 'width', 'required': false, 'empty_data': null, 'placeholder': 'Без подкатегории'}) }}
</div>
<div class="form-group">
    {{ form_label(form.Users, null, {'label_attr': {'id': 'authors-margin'}}) }}
    {{ form_widget(form.Users, {'attr': {'class': 'form-control', 'size': '5'}, 'id': 'width'}) }}
</div>
<div class="form-group">
    {{ form_label(form.publicationDate) }}
    {{ form_widget(form.publicationDate, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-check" style="display: flex; align-items: center; margin-bottom: 20px;">
    {{ form_label(form.active, null, {'label_attr': {'class': 'form-check-label'}}) }}
    {{ form_widget(form.active, {'attr': {'class': 'form-check-input', 'style': 'margin-left: -450px;'}}) }}
</div>
<div class="form-actions" style="margin-top: 20px;">
    <button type="submit" name="save" class="btn btn-primary">Сохранить</button>
    <button type="submit" name="cancel" formnovalidate class="btn btn-secondary">Отмена</button>
    {% if article.id %}
    <button type="button" class="btn btn-danger"
            onclick="if(confirm('Вы уверены, что хотите удалить статью?')) { document.getElementById('deleteForm').submit(); }">
        Удалить статью
    </button>
    {% endif %}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}

{% if article.id %}
    <form id="deleteForm" method="post" action="{{ path('app_article_delete', {'id': article.id}) }}" style="display: none;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
    </form>
{% endif %}