{% extends 'base.html.twig' %}
{% block title %}Article index {% endblock %}
{% block body %}
    {{ include('article/includes/article-nav.html.twig')  }}
    <h2>Список статей</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Дата публикации</th>
                <th>Название</th>
                <th>Категория</th>
                <th>Подкатегория</th>
                <th>Активность</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.publicationDate ? article.publicationDate|date('j M Y') : '' }}</td>
                <td><a href="{{ path('app_article_show', {id:article.id}) }}">{{ article.title }}</a></td>
                <td>{{ article.category.name ?? 'Без категории' }}</td>
                <td>{{ article.subcategory.name ?? 'Без подкатегории' }}</td>
                <td>{{ article.active ? 'Активна' : 'Не активна' }}</td>
                <td> <a href="{{ path('app_article_edit', {'id': article.id}) }}">[Редактировать]</a> </td>
            </tr>
        {% else %}
            <tr>
                <td>Ничего не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Статей всего {{ articles|length }}</p>
{% endblock %}