{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/old_style.css') }}"/>
{% endblock %}
{% block body %}
    {{ include('./nav_admin.html.twig')  }}
    {% for message in app.flashes('user_success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <div class="white-block">
    <div id="container">
        <div class="container">
            <a href="{{ path('app_homepage') }}">
                <img id="logo" src="{{ asset('images/logo.jpg') }}" alt="Widget News" />
            </a>
            <hr class="separator">
        </div>
    </div>
    <h2>Список пользователей</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Логин</th>
            <th>Роль</th>
        </tr>
        </thead>
        <tbody>
        {% set roleLabels = {
            'ROLE_ADMIN': 'Администратор',
            'ROLE_USER': 'Пользователь'
        } %}
        {% for user in users %}
            <tr onclick="window.location.href='{{ path('app_user_edit', {'id': user.id}) }}'" style="cursor:pointer;">
                <td><a href="{{ path('app_user_show', {id: user.id}) }}">{{ user.login }}</a></td>
                <td>
                    {% for role in user.roles %}
                        {{ roleLabels[role] | default(role) }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Пользователей всего: {{ users|length }}</p>
    <a href="{{ path('app_user_new') }}">Create new</a>
    </div>
{% endblock %}